div {
    border: 1px solid black;
}

img {
    width: 200px;
}

.navBar {
    background-color: #1A2A4A;
}

.aboutMe {
    background-color: #1A2A4A;
}

.posts {
    background-color: #1A2A4A;
}

.friendsList {
    background-color: #1A2A4A;
}

.header {
    background-color: #1A2A4A;
}
